body {
  margin: 0;
}

.sider {
  padding-top: 2rem;
  position: sticky;
  top: 0;
  background-color: #001529;
}

.sider-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  outline: 3px solid #ffffff46;
  outline-offset: 5px;
  margin-top: 2rem;
}

.sider .title {
  color: whitesmoke;
  text-align: center;
  margin-top: 1rem;
}

.ant-layout-sider {
  z-index: 999;
}

@media screen and (min-width: 991px) {
  .ant-layout-sider {
    position: sticky !important;
    z-index: 999 !important;
  }
}

@media screen and (max-width: 991px) {
  .edit-right-column div:first-child {
    order: 1;
  }
}

/* News Dashboard */

.is-dragging a {
  pointer-events: none;
}

.login-main {
  display: flex;
}

.login-left {
  flex-grow: 1;
  height: 100vh;
  background-color: #db0b32;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img {
  width: 400px;
}

.login-right {
  height: 100vh;

  flex-grow: 1;
}

.login-right-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-logo {
  align-self: center;
  padding-top: 50px;
}

.login-center {
  margin: auto 0;
}

.login-logo img {
  width: 50px;
}

.login-center h2 {
  font-size: 1.5rem;
}

.login-center {
  text-align: center;
}

.login-center p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 40px;
}

.pass-input-div {
  position: relative;
}

.pass-input-div svg {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  outline: none;
}

form button[type="submit"]#login-button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
}

.login-center-options {
  display: flex;
  justify-content: space-between;
}

.login-center-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login-center-buttons button:nth-child(1) {
  background-color: #db0b32;
  color: white;
  border: 3px solid #db0b32;
}

.login-center-buttons button:nth-child(1):hover {
  color: white;
  background-color: #600114;
}

.login-center-buttons button:nth-child(2) {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.login-center-buttons button:nth-child(2) img {
  width: 30px;
}

.login-center-buttons button:nth-child(2):hover {
  background-color: #c4c4c457;
}

.login-bottom-p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.login-bottom-p a {
  text-decoration: none;
  font-weight: 600;
}

.login-bottom-p a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .login-left {
    display: none;
  }
}

@media (max-width: 370px) {
  .login-center-options {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .login-center-buttons {
    margin-top: 20px;
  }

  .login-center h2 {
    font-size: 3rem;
  }

  .login-center p {
    font-size: 1.5rem;
  }
}
